body{
	background-image: url(images4.JPG);
	background-color:  beige;

}
.box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
	background:beige;
	box-sizing:border-box;
	box-shadow:0 15px 25px rgb(114, 66, 245);
	border-radius:10px;
}