body{
	background-color:  beige;
	
}
.don{
	margin-top: 7%;
	margin-left: 15%;
	

}

.don1{
	margin-top: 7%;
	margin-left: 18%;
	

}
a{
	text-decoration-line: none;
	margin-left: 18%;

}
#demo10{
	margin-left: 48%;


}
